<h1>Listings:</h1>

<ul>
  <% @listings.each do |listing| %>
    <%= content_tag_for :li, listing do %>
      
      <%= listing.name %>
      
      <%= listing.location %>
      
      <%= listing.budget_type %>
      
      <%= listing.photo %>
      
      <%= listing.user_id %>
      
      <%= listing.category_id %>
      
      <% end %>
   
    <% end %>
</ul>